.board .region{
  width: calc(33.33%);
  height: calc(33.33%);
  margin: 0;
  float: left;
}

.board .region .cell{
  width: calc(33.33% - 1px);
  height: calc(33.33% - 1px);
  margin: 1px 0 0 1px;
  float: left;
  text-align: center;
  display:table;
  cursor: pointer;
}

.board .region .cell span{
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
}

.helper{
  padding: 1px;
}

.number-picker{
  display: none;
  position: absolute;
  z-index: 100;
}

.number-picker svg circle{
  stroke-width: 1px;
  cursor: pointer;
}

.number-picker svg path{
  stroke-width: 1px;
  cursor: pointer;
}

.number-picker svg text{
  fill: white;
  text-anchor: middle;
  pointer-events: none;
}

#dialog{
  padding: 20%;
}

.game-picker{
  display:none;
  width: 60%;
  height: 60%;
}

.complete-message{
  display:none;
  width: 60%;
  height: 60%;
}

.abandon-message{
  display:none;
  width: 60%;
  height: 60%;
}

@media screen and (min-width: 200px) and (min-height: 200px){
  .board .region .cell span{
    font-size: 14px;
  }

  .numberPicker svg text{
    font-size: 14px;
  }

  .helper button{
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (min-height: 300px){
  .board .region .cell span{
    font-size: 20px;
  }

  .numberPicker svg text{
    font-size: 20px;
  }

  .helper button{
    font-size: 16px;
  }
}

@media screen and (min-width: 400px) and (min-height: 400px){
  .board .region .cell span{
    font-size: 30px;
  }

  .numberPicker svg text{
    font-size: 30px;
  }

  .helper button{
    font-size: 24px;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px){
  .board .region .cell span{
    font-size: 40px;
  }

  .numberPicker svg text{
    font-size: 40px;
  }

  .helper button{
    font-size: 30px;
  }
}

@media screen and (min-width: 800px) and (min-height: 800px){
  .board .region .cell span{
    font-size: 50px;
  }

  .numberPicker svg text{
    font-size: 50px;
  }
}

@media screen and (min-width: 1000px) and (min-height: 1000px){
  .board .region .cell span{
    font-size: 60px;
  }

  .numberPicker svg text{
    font-size: 60px;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .board{
    height: 100vw;
    width: 100vw;
  }
}

@media screen and (max-aspect-ratio: 6/5) {
  .helper{
    display: block;
    width: calc(100vw - 2px);
    height: calc(100% - 100vw - 50px - 2px);
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .board {
    /* the 50px would be a variable in LESS, for the height for the navbar */
    width: calc(100vh - 50px);
    height: calc(100vh - 50px);
    float: left;
  }
}

@media screen and (min-aspect-ratio: 6/5){
  .helper {
    display: block;
    width: calc(100vw - 100vh + 50px - 2px);
    height: calc(100vh - 50px - 2px);
    float: left;
  }
}
