body{
  background-color: white;
}

.navbar {
  background-color: rgb(252, 92, 99);
}

.navbar .title{
  background-image: url('airbnb-title.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 50px;
}

.board .cell{
  background-color: rgb(252, 92, 99);
}

.board .cell span{
  color: white;
}

.numberPicker svg circle, .numberPicker svg path{
  fill: white;
  stroke: rgb(252, 92, 99);
}

.numberPicker svg circle:hover, .numberPicker svg path:hover{
  fill: gold;
}

.numberPicker svg text{
  fill: rgb(252, 92, 99) !important;
}
