body{
  background-color: white;
}

.navbar {
  background-color: rgb(252, 92, 99);
}

.navbar .user-name {
  color: white;
}
.board .cell{
  background-color: rgb(252, 92, 99);
}

.board .cell span{
  color: white;
}
