body{
  background-color: white;
}

.navbar {
  background-color: rgb(252, 92, 99);
}

.navbar .title{
  background-image: url('airbnb-title.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 50px;
}

.board .cell{
  background-color: rgb(252, 92, 99);
}

.board .cell span{
  color: white;
}
