body{
  background-color: rgb(26, 26, 26);
}

.navbar .title{
  color: white;
}

.navbar .user-name {
  color: white;
}

.board .cell{
  background-color: rgb(41, 168, 193);
  color: white;
}

.board .cell.invalid{
  background-color: #92262D;
}
.board .cell.predefined{

}

.board .cell.hint{
  color: gold;
}

.board .cell.userInput{
  color: blue;
}

.board .cell:hover{
  color: rgb(41, 168, 193);
  background-color: white;
}
