body{
  background-color: rgb(26, 26, 26);
  font-family: "Lucida Grande";
}

button{
  padding: 8px;
  background-color: rgb(41, 168, 193);
  border: 0;
  cursor: pointer;
  color: white;
  margin: 0 8px 8px 0;
}

button:hover{
  background-color: white;
  color: rgb(41, 168, 193);
}

.navbar .title{
  background-image: url('uber-title.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 300px 50px;
}

.navbar .user-name {
  color: white;
}

.board .cell{
  background-color: rgb(41, 168, 193);
  color: white;
}

.board .cell.invalid{
  background-color: #92262D;
}

.board .cell.predefined{
  color: #93D4D0;
}

.board .cell.hint{
  color: gold;
}

.board .cell.userInput{
  color: blue;
}

.board .cell:hover{
  color: rgb(41, 168, 193);
  background-color: white;
}

.number-picker svg circle, .number-picker svg path{
  fill: rgb(41, 168, 193);
  stroke: white;
}

.number-picker svg circle:hover, .number-picker svg path:hover{
  fill: rgb(26, 26, 26);
}

.helper .time{
  color: white;
}

.game-picker{
  background-color: white;
}

.complete-message{
  background-color: white;
}

.abandon-message{
  background-color: white;
}
